/* contains classes that are not Bootstrap related */

.nav-comp-details {
    margin-top: 1rem;
}

.nav-comp-details p {
    margin-bottom: 0rem;
    font-family: monospace;
    font-size: small;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 50%;
}

.custom-dropdown:hover .custom-dropdown-menu {
    display: block;
}

.side-content {
    /* background: #000; */
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.main-content {
    /* background: #5454aa; */
    /* padding: 10px 20px 0; */
    margin-left: 230px;
}

.footer-content {
    /* background-color: #fe4; */
}

.section {
    margin: 15px 0px 20px 0px;
}

.section-title {
    font-size: 2.14rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
}

/* body {
    font-family: sans-serif;
}

#content {
    margin: 50px;
}

a {
    text-decoration: none;
} */

.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;
    line-height: 50px;
    transition: all .5s ease-in-out;
    height: 0;
}

.expandable:target {
    height: 50px;
}

.menu-link {
    text-decoration: none!important;
    color: #000!important;
}
